* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

div {
    word-break: keep-all;
}

button,
input,
textarea,
select {
    color: #222;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}